<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="/css/demo.css">
    <script src="/js/demo.js"></script>
    <script src="/js/createPool"></script>
    <title>Demo</title>
</head>
<body>
    <nav class="navbar navbar-light bg-white">
        <div class="LogoName">
                <img src="/img/Logo_vote.svg" class="logo">
                <a class="Name link" href="/">Vote Up</a>
                <a class=" mrgFirst createPool link" href="/createPool">Create Pool</a>
                <a class="mgA createPool link" href="/demo">Demo</a>
        </div>
        <div>
            <% if (username === "") { %>
                <button class="RgButton"><a class="link" href="/register">Register</a></button>
                <button class="LgButton"><a class="link" href="/login">Login</a></button>
                <% }  else {%>
                    <a class="name"><%= username %></a>
                <button class="LgButton"><a class="link" href="/logout">Logout</a></button>
                    <% } %>
        </div>
      </nav>
        <div class="wrapper">
            <div class="mainTheme">
                <h1><%= title %></h1>
                <form class="votingPoll" action="/vote/<%= item_id %>" method="post">
                    <% for( let i = 0; i < options.length; i++ ) { %>
                        <% if (option_id == options[i].option_name) { %>
                            <div class="option" id="<%= i+1 %>">
                                <label for="option<%= i+1 %>" class="optionLabel">
                                    <input type="radio" id="option<%= i+1 %>" name="vote" class="InputRadio" name="option" value="<%= options[i].option_name %>: <%= options[i].id %>" checked>
                                    <span class="CustomRadio"></span>
                                    <p class="Checkmark"><%= options[i].option_name %></p>
                                </label>
                            </div>
                        <% } else { %>
                            <div class="option" id="<%= i+1 %>">
                                <label for="option<%= i+1 %>" class="optionLabel">
                                    <input type="radio" id="option<%= i+1 %>" name="vote" class="InputRadio" name="option" value="<%= options[i].option_name %>: <%= options[i].id %>">
                                    <span class="CustomRadio"></span>
                                    <p class="Checkmark"><%= options[i].option_name %></p>
                                </label>
                            </div>
                            <% }%>
                    <% } %>
                    <h5 class="choice">Update your vote or add a new vote.</h5>
                    <div>
                        <button class="LgButton"><a class="link" type="submit">Vote</a></button>
                        <button class="LgButton"><a href="/showResults/<%= item_id %>" class="link">Show result</a></button>
                     </div>
                </form>
            </div>
        </div>    
</body>
</html>